<div class="flex-center">
  <h2>Please enter your name to start chat...</h2>
</div>

<div class="flex-center">

  <mat-form-field appearance="outline" class="name-form">
    <input matInput placeholder="Your name"
           [formControl]="usernameFormControl"
           (keydown.enter)="startConversation()"/>

    <button mat-icon-button matSuffix
            class="btn-start"
            (click)="startConversation()"
            [disabled]="disableStartConversation()">
      <mat-icon>chat_bubble</mat-icon>
    </button>
  </mat-form-field>

</div>
