
.container {
  display: flex;
  height: 60vh;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.messages {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.chat-area {
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}


.chat-bubble {
  position: relative;
  width: fit-content;
  min-width: 20%;
  border-radius: 8px;
  padding: 8px 8px 18px;
  margin-top: 15px;

  @media (max-width: 768px) {
    min-width: 50%;
  }

  &.user {
    background: #c5cae9;
    margin-left: auto;
  }

  &.bot {
    background: white;
  }
}


.chat-date {
  position: absolute;
  bottom: 2px;
  right: 8px;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
}

