<div class="flex-center">
  <div class="container">
    <div class="messages">

      <div class="message-header">
        <h2 class="username">{{ username$ | async}}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="chat-area">
        @for (message of (messages$ | async); track message.content) {
          <div class="chat-bubble" [class.user]="message.sender === 'user'" [class.bot]="message.sender === 'bot'">
            {{ message.content }}
            <span class="chat-date">
                {{ message.timestamp | date: "dd MMM yyyy 'at' hh:mm a" }}
              </span>
          </div>
        }
      </div>
    </div>

  </div>
</div>
